[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
bitstring = "*"
docopt = "*"
pyfasta = "*"
pyfaidx = "*"
pyfastx = "*"
regex = "*"
python-Levenshtein-wheels = "*"
numpy = "*"
pyyaml = "*"


[dev-packages]

[requires]
python_version = "3.8"
